@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anek Latin', 'sans-serif';
  background: linear-gradient(45deg rgb(217 249 157) rgb(68 64 60));
}

.show {
  display: block;
}

.menuresponsive {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
